@font-face {
  font-family: neon80s;
  src: url(../font/Neon.ttf);
}
@font-face {
  font-family: allerBold;
  src: url(../font/Aller_Bd.ttf);
}
@font-face {
  font-family: westParis;
  src: url(../font/WestParis.ttf);
}
@font-face {
  font-family: lasenter;
  src: url(../font/LasEnter_PersonalUseOnly.ttf);
}
@font-face {
  font-family: sunshine;
  src: url(../font/A\ little\ sunshine.ttf);
}

@font-face {
  font-family: amarula;
  src: url(../font/Amarula\ Personal\ Use.ttf);
}
@font-face {
  font-family: angelina;
  src: url(../font/angelina.TTF);
}
@font-face {
  font-family: august;
  src: url(../font/August\ Script\ Bold\ Free.ttf);
}
@font-face {
  font-family: bernadette;
  src: url(../font/Bernadette.otf);
}
@font-face {
  font-family: better;
  src: url(../font/Better\ Grade.ttf);
}

@font-face {
  font-family: callinda;
  src: url(../font/CallindaDEMORegular.ttf);
}
@font-face {
  font-family: candice;
  src: url(../font/Candice\ Personal\ Use.ttf);
}
@font-face {
  font-family: chicago;
  src: url(../font/Chicago.ttf);
}
@font-face {
  font-family: chine;
  src: url(../font/ChineHandwriting-Regular.ttf);
}
@font-face {
  font-family: lemon;
  src: url(../font/DK\ Lemon\ Yellow\ Sun.otf);
}
@font-face {
  font-family: enlova;
  src: url(../font/Enlova.otf);
}

@font-face {
  font-family: germaint;
  src: url(../font/Germaint.ttf);
}
@font-face {
  font-family: hellena;
  src: url(../font/Hellena.ttf);
}
@font-face {
  font-family: honilley;
  src: url(../font/Honilley.otf);
}

@font-face {
  font-family: newWishes;
  src: url(../font/NewWishes.otf);
}
@font-face {
  font-family: renature;
  src: url(../font/Renature.ttf);
}
@font-face {
  font-family: shopie;
  src: url(../font/Shopie.otf);
}
@font-face {
  font-family: siry;
  src: url(../font/siry.otf);
}
@font-face {
  font-family: sunDeep;
  src: url(../font/SunDeep.ttf);
}
@font-face {
  font-family: strawberry;
  src: url(../font/Sweety\ Strawberry.otf);
}
@font-face {
  font-family: angelica;
  src: url(../font/WhiteAngelica.ttf);
}
@font-face {
  font-family: neonL;
  src: url(../font/neonL.TTF);
}
@font-face {
  font-family: neonGlow;
  src: url(../font/NEON\ GLOW.otf);
}
